@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Outfit:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

:root {
  --font-family: 'Outfit', sans-serif;
  --white: #fff
}

h1,
.h1 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
  line-height: 133px;
  color: var(--white);
}

.nav-link {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px; 
  color: var(--white);
}
.nav-link:hover {
  opacity: 0.8;
}
.nav-link-menu{
  font-family: var(--font-family);
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px; 
  letter-spacing: 0.03em;
  color:  red !important;
}
 .css-dev-only-do-not-override-mxhywb  {
  width: fit-content !important;
}

p , .desciription{
  font-family: var(--font-family);
  font-style: normal;
  font-size: 18px;
  Line-height: 150%;
  color: var(--white);
  opacity: 0.9;
}
h3 , .subtitle{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  Line-height: 74px;
  color: var(--white);
}
.nav-raght{
   justify-content: flex-end;
   width: 100%;
}
.nav-items-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
 height: 100%;
}

@media (max-width: 1300px) {
  h1,
  .h1 {
    font-size: 80px;
    line-height: 128px;
  }
  h3 , .subtitle{
    font-size: 45px;
    Line-height: 65px;
  }
}
@media (max-width: 1200px) {
  h1,
  .h1 {
    font-size: 70px;
    line-height: 124px;
  }
  h3 , .subtitle{
    font-size: 38px;
    Line-height: 60px;
  }
}
@media (max-width: 1050px) {
  h1,
  .h1 {
    font-size: 34px;
    line-height: 55px;
  }
  h3 , .subtitle{
    font-size: 34px;
    Line-height: 55px;
  }
  p , .desciription{
    font-size: 16px;
    Line-height: 140%;
  }
}

@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 60px;
    line-height:90px;
  }
  h3 , .subtitle{
    font-size: 28px;
    Line-height: 50px;
  }
  p , .desciription{
    font-size: 14px;
    Line-height: 140%;
  }
}
@media (max-width:600px){
  h1,
  .h1 {
    font-size: 50px;
    line-height:60px;
  }
  h3 , .subtitle{
    font-size: 26px;
    Line-height: 45px;
  }
  :where(.css-dev-only-do-not-override-mxhywb).ant-modal-root .ant-modal-wrap{
    width: 80%;
  }
}
@media (max-width:428px){
  .ant-drawer-content-wrapper{
    width: 80% !important;
  }
  .nav-link {
    font-size: 16px;
  }
    h1,
    .h1 {
      font-size: 40px;
      line-height:60px;
    }
    h3 , .subtitle{
      font-size: 24px;
      Line-height: 40px;
    }
  
}


